.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_content {
    position: relative;
    width: 450px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.modal_header {
    position: relative;
    height: 30px;
    margin-bottom: 15px;
}

.modal_header h4 {
    position: relative;
    float: left;
}

.modal_header button {
    position: relative;
    float: right;
    background-color: transparent;
    border: none;
    margin-top: 3px;
}

.modal_header button:hover {
    cursor: pointer;
}

.modal_body input,
.modal_body textarea,
.modal_body select {
    position: relative;
    width: 99%;
    margin-bottom: 10px;
    margin-top: 3px;
    border: none;
    border-radius: 7px;
    background-color: #f0f1f2;
    padding-left: 10px;
    font-size: 16px;
}

.modal_body input {
    height: 30px;
}

.modal_body input[type=file]{
    padding-top: 3px;
}

.modal_body input[type=file]::file-selector-button{
    font-size: 14px;
    border-radius: 3px;
}

.modal_body textarea {
    height: 100px;
    padding-top: 10px;
}

.modal_body textarea:placeholder-shown{
    padding: 10px;
}

.modal_body input:focus,
.modal_body textarea:focus,
.modal_body select:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
}

.modal_body button {
    position: relative;
    float: right;
    background-color: #0048D9;
    padding: 7px;
    border: none;
    border-radius: 7px;
    font-family: 'Tinos';
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.modal_body button:hover{
    background-color: #002266;
    cursor: pointer;
}

.alert {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
}

span{
    font-weight: bold;
}